body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column; /* Adicionado para organizar o layout */
    height: 100vh; /* Altura total da tela */
}

#cabecalho {
    background-color: #331436;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 10px 20px; 
    color: #ffffff;
}

#logo {
    width: 50px; 
    height: auto;
    margin-right: 20px; 
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Faz com que o conteúdo ocupe o espaço restante */
    flex-wrap: wrap;
    color: #331436;
}

.content-info {
    width: 450px;
    height: 96px;
}

.content-loguin {
    width: 450px;
    height: 248px; /* Corrigido para incluir a unidade */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.input {
    padding: 1px;
    height: 40px;
    border-radius: 5px;
    width: 520px;
    font-size: 14px;
    border: 3px solid #00000010;
}

.input:focus {
    border-color: #1b74ee;
    box-shadow: #1b74ee;
}

.btn-loguin {
    padding: 15px;
    height: 48px;
    width: 240px;
    background-color: #331436;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 65%;
    
}

.content-login-box a {
    margin-right: 64%;
}

.content-login-box h5 {
    width: 520px;
    height: 20px;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px; 
    background-color: #331436; /* Mantenha a cor de fundo */
    color: #FFFFFF; /* Para o texto do footer */
}

.social-icons {
    margin-right: 20px; 
}

.social-icons a {
    margin: 0 10px; 
    color: #FFFFFF;
}

.social-icons img {
    width: 40px; 
    height: auto;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 10px;
    inline-size: 0.8em;
}

.footer p {
    margin: 0 10px; 
    color: #FFFFFF;
}
