body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

main{
    background-color: green;
    align-items: center

}

#cabecalho {
    /* background-color: #331436; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #FFFFFF;
    width: 100%;
}
#logo{
    width: 50px;
    height: auto;
    top: 10px;
    left: 10px;
    margin-right: 30px;
}
#btn {
    margin-left: auto;
    padding: 10px 20px;
    background-color: #CB4F57;
    color: #FCF4B6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 240px;
    height: 48px;
}
.btnLogin{
    margin-left: auto;
}
.welcome-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* background-color: #7A1745; */
  
}
.colorh2{
    color: #FCF4B6;
    font-size: 3.5em;
    white-space: nowrap;
}
.h2color{
    color: #FFFFFF;
    white-space: nowrap;
    flex: 1;
    overflow: visible;
}
#container-welcome {
    max-width: 50%
}
#container-welcome p{
    color: #FFFFFF;
    font-size: 1em;
}
#btn-2{
    background-color: #CB4F57;
    color: #FCF4B6;
    width: 240px;
    height: 48px;
}
#container-manage-2{
    display: flex;
    flex-direction: column;
    
    
    
   
    
}
#container-manage h2{
    
    color: #000000;
    font-size: 3em;
    
    
}

#btn-3{
    margin-left: auto;
    padding: 10px 20px;
    background-color:#331436;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 240px;
    height: 48px;
    
}

.imgList{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionFeatures{
    background-color: #FCF4B6;
    text-align: center;
}
#tools{
    display: flex;
    justify-content: center;
}
#tools img{
    background-color: #331436;
    width: 100px;
    border-radius: 110px;
}